################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EchoTool/bin/Debug
/EchoTool/obj/Debug/echotool.exe
